<% if user_signed_in? && @notifications.present? %>
  <div class="container">
    <h5>Notification</h5>
    <hr/>
    <div style="height: 300px; overflow-y: scroll">
      <%= turbo_stream_from "notification_#{user.id}" %>
      <%= turbo_frame_tag "notifications_#{user.id}" do %>
        <% @notifications.each do |notification| %>
          <%= render notification %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
