.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

/* countdown*/
#countdown {
    background-color: #aaa;
}

.a {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 0.75em;
    text-transform: uppercase;
}
  
.a .b {
    display: block;
    font-size: 3rem;  
}