<h1> Ban da dung <%= @correct_option_user.length()%> cau</h1>
<input type="hidden" class="rating" value="2"/>
<input type="hidden" class="rating" disabled="disabled"/>
<input type="hidden" class="rating" data-readonly/>
